<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	</head>
	<body>
        <div class="container">
            <h1 style="text-align:center;">Мой деканат</h1>

            <h2>Успеваемость студентов</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Студент</th>
                  {% for subject in subjects %}
                    <th>{{subject.name}}</th>
                  {% endfor %}
                  <th>Средний балл</th>
                </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                        <tr>
                            <th scope="row">{{student.id}}</th>
                            <td>{{student.surname}} {{student.name}}</td>
                            {% for student_score in student_subjects_scores %}
                                {% if student.id == student_score.student.id %}
                                    <td>{{student_score.value}}</td>
                                {% endif %}
                            {% endfor %}
                            <td>{{student.average_mark}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h4>Отличники:
                {% for excellent_student in excellent_students %}
                    {{excellent_student}},
                {% endfor %}
            </h4>
            <h4>Отчислить:
                {% for bad_student in bad_students %}
                    {{bad_student}},
                {% endfor %}
            </h4>
        </div>
	</body>
</html>